.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    height: 100%;
}

.nav div {
    width: 30vw;
    display: flex;
    justify-content: space-around;
}

/* Icons */
.nav div svg {
    color: var(--primary-font-color);
    width: 8vw;
    height: auto;
}